.add {
  margin-top: 1em;
  margin-left: 92%;
}

li {
  list-style-type: none;
  border: ghostwhite 1px solid;
  margin-top: 1em;
  width: 20%;
}

.time {
  margin-left: 42%;
  margin-top: 40%;
}

.button {
  margin-top: 30%;
  margin-left: 37%;
}

.title {
  margin-left: 45%;
}
